<!-- app/views/friendships/index.html.erb -->
<h1 class="page-title">Friend Requests</h1>

<ul class="user-card-list">
  <% @friend_requests.each do |friendship| %>
    <li class="user-card friend-request">
      <p class="user-details">
        <%= friendship.user.email %> has sent you a friend request.
      </p>
      <div class="button-container">
        <%= link_to 'Accept', accept_friend_request_path(id: friendship.id), method: :post, class: 'send-button' %>
        <%= link_to 'Reject', reject_friend_request_path(id: friendship.id), method: :delete, class: 'send-button reject-button' %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', root_path, class: 'back-link' %>
