<!-- app/views/friendships/index.html.erb -->
<h1>Friend Requests</h1>

<% if current_user.pending_friend_requests.present? %>
  <ul>
    <% current_user.pending_friend_requests.each do |request| %>
      <li>
        <%= request.user.name %> has sent you a friend request.
        <%= link_to 'Accept', friendship_path(request), method: :put %>
        <%= link_to 'Reject', friendship_path(request), method: :delete %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No pending friend requests.</p>
<% end %>
